<app-navbar></app-navbar>
<div id="img_bg" class="container">
  <div class="row text-center mt-3 ">
    <h3 style="color: #146c43">List customer</h3>
  </div>
  <div class="container w-50">
    <div class="row">
      <div class="col-6">
        <input type="text" #name class="form-control">
      </div>
      <div class="col-4">
        <select #typeId class="form-control">
          <option value="">Chon</option>
          <option *ngFor="let t of typeCustomer" value="{{t.id}}">{{t.name}}</option>
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-warning" (click)="search(name.value, typeId.value)">Search</button>
      </div>
    </div>
  </div>
<!--  <div>-->
<!--    <input type="text" #name>-->
<!--    <button (click)="searchAll(name.value)">Search</button>-->
<!--  </div>-->
  <table class="table table-striped table-hover mt-3 w-100 m-auto">
    <thead class="table-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Họ Tên</th>
      <th scope="col">Ngày Sinh</th>
      <th scope="col">Giới Tính</th>
      <th scope="col">Số CMND</th>
      <th scope="col">SĐT</th>
      <th scope="col">Email</th>
      <th scope="col">Địa Chỉ</th>
      <th scope="col">Tên loại khách</th>
      <th scope="col">Delete</th>
      <th scope="col">Detail</th>
      <th scope="col">Update</th>
    </tr>

    </thead>
    <tbody>
    <tr *ngFor="let c of customer | paginate: { itemsPerPage: 3, currentPage: p }">
      <td>{{c.id}}</td>
      <td>{{c.customerName}}</td>
      <td>{{c.dateOfBirth}}</td>
      <td>{{c.gender}}</td>
      <td>{{c.identify}}</td>
      <td>{{c.phoneNumber}}</td>
      <td>{{c.email}}</td>
      <td>{{c.address}}</td>
      <td>{{c.customerType.name}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="getInfo(c)">
          Delete
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1"
                (click)="getInfo(c)">
          Detail
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-success" [routerLink]="['/customer/update',c.id]">Update</button>
      </td>
      <td></td>

    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khách hàng này không?
        <p *ngIf="customerF">{{customerF.id}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(customerF.id)">Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Detail</h1>
        <p *ngIf="customerF">{{customerF.id}}</p>
        <p *ngIf="customerF">{{customerF.customerName}}</p>
        <p *ngIf="customerF">{{customerF.dateOfBirth}}</p>
        <p *ngIf="customerF">{{customerF.identify}}</p>
        <p *ngIf="customerF">{{customerF.phoneNumber}}</p>
        <p *ngIf="customerF">{{customerF.gender}}</p>
        <p *ngIf="customerF">{{customerF.email}}</p>
        <p *ngIf="customerF">{{customerF.address}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
