<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://media-exp1.licdn.com/dms/image/C4E16AQFiC2NLc-A7GQ/profile-displaybackgroundimage-shrink_200_800/0/1547525105746?e=2147483647&v=beta&t=dDzduk_bPiLT9hWfIdJi0kyTP5pq9sV-GFG5DCeu8Rw"
         class="d-block w-100" style="height: 150px" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h1 style="font-size: 60px">CUSTOMER LIST</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="p-3">
    <nav class="navbar navbar-expand-lg pb-0 mb-0">
      <div class="container-fluid">
        <a routerLink="/customer/create">
          <button class="btn btn-success btn-outline-secondary btn-sm">
            <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
            <span class="text-light"> Add new Customer</span>
          </button>
        </a>

        <form class="d-flex my-2" role="search">
          <input class="form-control me-2" type="text" placeholder="Input name" aria-label="Search"
                 name="nameSearch" [(ngModel)]="customerNameSearch">

          <input class="form-control me-2" type="text" placeholder="Input address" aria-label="Search"
                 name="addressSearch" [(ngModel)]="customerAddressSearch">


          <input class="form-control me-2" type="text" placeholder="Input phone number" aria-label="Search"
                 name="phoneSearch" [(ngModel)]="customerPhoneSearch">

          <button class="btn btn-outline-warning" (click)="searchByMore()">
            <i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </nav>

    <table class="table table-striped table-bordered" id="customerTable">
      <thead>
      <tr class="text-center bg-warning bg-opacity-50">
        <th>Serial</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Id card</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Customer type</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customerListPaging; index as i">
        <td>{{i + 1}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerGender}}</td>
        <td>{{customer.customerIdCard}}</td>
        <td>{{customer.customerPhone}}</td>
        <td>{{customer.customerAddress}}</td>
        <td>{{customer.customerType.customerTypeName}}</td>
        <td style="text-align: center">
          <a routerLink="/customer/update/{{customer.id}}">
            <span class="text-warning"><i class="fa-solid fa-pen-to-square"></i></span>
          </a>
        </td>
        <td style="text-align: center">
          <a data-bs-toggle="modal" data-bs-target="#deleteCustomer"
          (click)="getInfoCustomerDelete(customer.id, customer.customerName)">
            <span class="text-danger"><i class="fa-solid fa-trash-can"></i></span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <nav aria-label="..." class="justify-content-center d-flex">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="previous()" *ngIf="curPage > 1">&laquo; Previous</a>
        </li>
        <li class="page-item disabled" *ngIf="curPage <= 1">
          <a class="page-link">&laquo;</a>
        </li>
        ​
        <li class="page-item"><a class="page-link disabled" href="" [text]="curPage + ' / ' + totalPage"></a>
        </li>
        ​
        <li class="page-item">
          <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Next &raquo;</a>
        </li>
        <li class="page-item disabled" *ngIf="curPage >= totalPage">
          <a class="page-link">&raquo;</a>
        </li>
      </ul>
    </nav>
    <!--    modal delete-->
    <div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel1">Are you sure to delete?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form>
            <div class="modal-body">
              <span class="h6">Customer:</span><strong id="nameDelete" class="text-danger ps-2">{{customerNameDelete}}</strong>
              <input type="hidden" name="id" id="idDelete"/>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="delete" (click)="deleteCustomer()">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

