<div class="mx-5 px-5 pt-4 mb-5">
  <h2 class="text-center fw-bold text-warning">Create Facility</h2>

  <p class="text-center">
    <a routerLink="/facility/list"><i class="fa-solid fa-backward"></i> Back To Facility List</a>
  </p>

  <div class="d-flex justify-content-center">
    <form class="w-50 border border-2 border-success p-3 rounded formCSS"
          [formGroup]="facilityFormGroup" (ngSubmit)="submit()">
      <div class="form-group">
        <label class="h6" for="facilityType">Type of service
          :</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.facilityType.hasError('required') &&
                      facilityFormGroup.controls.facilityType.touched">
          Please select service type!
        </div>
        <div class="input-group">
          <select id="facilityType" class="form-select" formControlName="facilityType" [(ngModel)]="facilityType">
            <option [ngValue]="facilityType" disabled>
              Select service type..
            </option>
            <option [ngValue]="item" *ngFor="let item of facilityTypeList"
                    name="facilityType">{{item.facilityTypeName}}</option>
          </select>
          <span class="input-group-text"><i class="fa-solid fa-house-user"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="name" class="h6">
          service name:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.facilityName.hasError('required') &&
                      facilityFormGroup.controls.facilityName.touched">
          Service name cannot be empty!
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.facilityName.hasError('pattern') &&
                      facilityFormGroup.controls.facilityName.touched">
          Service name must be in English and must not contain numbers!
        </div>
        <div class="input-group">
          <input type="text" id="name" class="form-control" placeholder="Nhập tên dịch vụ.."
                 formControlName="facilityName"/>
          <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="image" class="h6">Image:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.facilityImage.hasError('required') &&
                      facilityFormGroup.controls.facilityImage.touched">
          Service image cannot be blank!
        </div>
        <div class="input-group">
          <input type="text" id="image" class="form-control" placeholder="Link ảnh.."
                 formControlName="facilityImage"/>
          <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="area" class="h6">
          Usable area (m<sup>2</sup>):</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.facilityArea.hasError('required') &&
                      facilityFormGroup.controls.facilityArea.touched">
          Usable area cannot be left empty!
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.facilityArea.hasError('pattern') &&
                      facilityFormGroup.controls.facilityArea.touched">
          The usable area must be a positive integer!
        </div>
        <div class="input-group">
          <input type="number" id="area" class="form-control" placeholder="Nhập diện tích sử dụng.."
                 formControlName="facilityArea"/>
          <span class="input-group-text"><i class="fa-solid fa-chart-area"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="cost" class="h6">Rental costs (VNĐ):</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.rentCost.hasError('required') &&
                      facilityFormGroup.controls.rentCost.touched">
          Rental cost cannot be blank!
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.rentCost.hasError('pattern') &&
                      facilityFormGroup.controls.rentCost.touched">
          Rental cost cannot be blank!
        </div>
        <div class="input-group">
          <input type="number" id="cost" class="form-control" placeholder="Nhập chi phí thuê.."
                 formControlName="rentCost"/>
          <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="maxPeople" class="h6">Maximum number of people:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.maxPeople.hasError('required') &&
                      facilityFormGroup.controls.maxPeople.touched">
          Maximum number of people cannot be empty!
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.maxPeople.hasError('pattern') &&
                      facilityFormGroup.controls.maxPeople.touched">
          The maximum number of people must be a positive integer!
        </div>
        <div class="input-group">
          <input type="number" id="maxPeople" class="form-control" placeholder="Nhập số người tối đa.."
                 formControlName="maxPeople"/>
          <span class="input-group-text"><i class="fa-solid fa-person"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group" id="standardRoomForm"
           *ngIf="facilityType.facilityTypeName === 'Villa' || facilityType.facilityTypeName === 'House'">
        <label for="standardRoom" class="h6">Room standard:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.standardRoom.hasError('standardRoomInvalid') &&
                      facilityFormGroup.controls.standardRoom.touched">
          Room standards cannot be left blank!
        </div>
        <div class="input-group">
          <input type="text" id="standardRoom" class="form-control" placeholder="Nhập tiêu chuẩn phòng.."
                 formControlName="standardRoom"/>
          <span class="input-group-text"><i class="fa-solid fa-star"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group" id="descriptionForm"
           *ngIf="facilityType.facilityTypeName === 'Villa' || facilityType.facilityTypeName === 'House'">
        <label for="description" class="h6">Description of other amenities:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.descriptionOtherConvenience.hasError('descriptionInvalid') &&
                      facilityFormGroup.controls.descriptionOtherConvenience.touched">
          Please enter another amenity description!
        </div>
        <div class="input-group">
          <input type="text" id="description" class="form-control" placeholder="Nhập mô tả tiện nghi khác.."
                 formControlName="descriptionOtherConvenience"/>
          <span class="input-group-text"><i class="fa-solid fa-book"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group" id="poolAreaForm" *ngIf="facilityType.facilityTypeName === 'Villa'">
        <label for="poolArea" class="h6">Pool area
          (m<sup>2</sup>):</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.poolArea.hasError('poolAreaInvalid') &&
                      facilityFormGroup.controls.poolArea.touched">
          Please enter pool area as a positive integer!
        </div>
        <div class="input-group">
          <input type="number" id="poolArea" class="form-control" placeholder="Nhập diện tích hồ bơi.."
                 formControlName="poolArea"/>
          <span class="input-group-text"><i class="fa-solid fa-person-swimming"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group" id="numberOfFloorsForm"
           *ngIf="facilityType.facilityTypeName === 'Villa' || facilityType.facilityTypeName === 'House'">
        <label for="numberOfFloors" class="h6">Number of floors:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.numberOfFloors.hasError('numberOfFloorsInvalid') &&
                      facilityFormGroup.controls.numberOfFloors.touched">
          Please enter the floor number as a positive integer!
        </div>
        <div class="input-group">
          <input type="number" id="numberOfFloors" class="form-control" placeholder="Nhập số tầng.."
                 formControlName="numberOfFloors"/>
          <span class="input-group-text"><i class="fa-solid fa-building"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group" id="facilityFreeForm" *ngIf="facilityType.facilityTypeName === 'Room'">
        <label for="facilityFree" class="h6">
          Free service included:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.facilityFree.hasError('facilityFreeInvalid') &&
                      facilityFormGroup.controls.facilityFree.touched">
          The included free service cannot be left blank!
        </div>
        <div class="input-group">
          <input type="text" id="facilityFree" class="form-control" placeholder="Nhập dịch vụ miễn phí đi kèm.."
                 formControlName="facilityFree"/>
          <span class="input-group-text"><i class="fa-solid fa-gift"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label class="h6" for="rentType">Rental type:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="facilityFormGroup.controls.rentType.hasError('required') &&
                      facilityFormGroup.controls.rentType.touched">
          Please select a rental type!
        </div>
        <div class="input-group">
          <select id="rentType" class="form-select" formControlName="rentType">
            <option value="" disabled class="text-danger">Choose a rental type..</option>
            <option [ngValue]="item" *ngFor="let item of rentTypeList" name="rentType">{{item.rentTypeName}}</option>
          </select>
          <span class="input-group-text"><i class="fa-solid fa-business-time"></i></span>
        </div>
      </div>

      <div class="mt-3 text-center">
        <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark"
                [disabled]="facilityFormGroup.invalid">
          -- Save <i class="fa-solid fa-floppy-disk"></i> --
        </button>
      </div>
    </form>
  </div>
</div>
