<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="bg_all d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p class="text_foot">
            The luxurious Furama Resort Danang is a true icon of Vietnam tourism. This 5-star haven on
            world-famous Da Nang beach is celebrated as Vietnam's most prestigious resort – counting
            royalty, presidents, movie stars and international business leaders among its celebrity guests.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text_foot">
            Products
          </h6>
          <p class="text_foot">
            <a href="#!" class="text-reset">Villa</a>
          </p>
          <p class="text_foot">
            <a href="#!" class="text-reset ">House</a>
          </p>
          <p class="text_foot">
            <a href="#!" class="text-reset">Room</a>
          </p>
          <p class="text_foot">
            <a href="#!" class="text-reset ">Other</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text_foot">
            Useful links
          </h6>
          <p class="text_foot">
            <a href="#!" class="text-reset ">Pricing</a>
          </p>
          <p class="text_foot">
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p class="text_foot">
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p class="text_foot">
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p class="text_foot"><i class="fas fa-home me-3 "></i> 103 - 105 Vo Nguyen Giap Street, Khue My
            Ward, Ngu Hanh Son
            District, Danang City, Vietnam<br>
          </p>
          <p class="text_foot">
            <i class="fas fa-envelope me-3 "></i>
            reservation@furamavietnam.com
          </p>
          <p class="text_foot"><i class="fas fa-phone me-3 "></i> 84-236-3847 333</p>
          <p class="text_foot"><i class="fas fa-print me-3 "></i> 84-236-3847 666</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">https://furamavietnam.com/vi/</a>
  </div>
  <!-- Copyright -->
</footer>
