<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="http://new-hls.s3.amazonaws.com/hls/data/845/website/general/bn/normal_newphoto1-622821586.jpg"
         class="d-block w-100" style="height: 150px" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h1 style="font-size: 60px">FACILITY</h1>
    </div>
  </div>
</div>
<div class="p-3">
  <nav class="navbar navbar-expand-lg pb-0 mb-0">
    <div class="container-fluid">
      <a routerLink="/facility/create">
        <button class="btn btn-success btn-outline-secondary btn-sm">
          <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
          <span class="text-light"> Add new Facility</span>
        </button>
      </a>

      <form class="d-flex my-2" role="search">
        <input class="form-control me-2" type="text" placeholder="Input name" aria-label="Search"
               name="facilityName">
        <button class="btn btn-outline-success" type="submit" name="action" value="search">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </nav>

  <table class="table table-striped table-bordered" id="facilityTable">
    <thead>
    <tr class="text-center bg-warning bg-opacity-50">
      <th>Serial</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Max people</th>
      <th>Standard room</th>
      <th>Floor</th>
      <th>Type of rent</th>
      <th>Type of facility</th>
      <th>Update</th>
      <th>Delete</th>
      <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let facility of facilities; index as i">
      <td>{{i + 1}}</td>
      <td>{{facility.facilityName}}</td>
      <td>{{facility.facilityCost}}</td>
      <td>{{facility.maxPeople}}</td>
      <td>{{facility.standardRoom}}</td>
      <td>{{facility.numberOfFloors}}</td>
      <td>{{facility.rentType.rentTypeName}}</td>
      <td>{{facility.facilityType.facilityTypeName}}</td>
      <td class="text-center">
        <a routerLink="/facility/update/{{facility.facilityId}}">
          <span class="text-warning"><i class="fa-solid fa-pen-to-square"></i></span>
        </a>
      </td>
      <td class="text-center">
        <a data-bs-toggle="modal" data-bs-target="#deleteFacility">
          <span class="text-danger"><i class="fa-solid fa-trash-can"></i></span>
        </a>
      </td>
      <td class="text-center">
        <a>
          <span class="text-success"><i class="fa-solid fa-eye"></i></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <!--    modal delete-->
  <div class="modal fade" id="deleteFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Are you sure to delete?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form>
          <div class="modal-body">
            <span class="h6">Facility:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
            <input type="hidden" name="id" id="idDelete"/>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" value="delete">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--view-->
  <div class="modal fade" id="viewFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel2">Facility information</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-success table-striped">
            <tr>
              <th>Name</th>
              <td><span id="name"></span></td>
            </tr>
            <tr>
              <th>Area</th>
              <td><span id="area"></span></td>
            </tr>
            <tr>
              <th>Price</th>
              <td><span id="cost"></span></td>
            </tr>
            <tr>
              <th>Max people</th>
              <td><span id="maxPeople"></span></td>
            </tr>
            <tr>
              <th>Standard room</th>
              <td><span id="standardRoom"></span></td>
            </tr>
            <tr>
              <th>Other convenience</th>
              <td><span id="OtherConvenience"></span></td>
            </tr>
            <tr>
              <th>Pool area</th>
              <td><span id="poolArea"></span></td>
            </tr>
            <tr>
              <th>Floor</th>
              <td><span id="floor"></span></td>
            </tr>
            <tr>
              <th>Facility free</th>
              <td><span id="facilityFree"></span></td>
            </tr>
            <tr>
              <th>Rent type</th>
              <td><span id="rentType"></span></td>
            </tr>
            <tr>
              <th>Facility type</th>
              <td><span id="facilityType"></span></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example" style="margin-top: 20px">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

