<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="http://new-hls.s3.amazonaws.com/hls/data/845/website/general/bn/normal_newphoto1-622821586.jpg"
         class="d-block w-100" style="height: 150px" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h1 style="font-size: 60px">FACILITY</h1>
    </div>
  </div>
</div>
<div class="p-3">
  <nav class="navbar navbar-expand-lg pb-0 mb-0">
    <div class="container-fluid">
      <a routerLink="/facility/create">
        <button class="btn btn-success btn-outline-secondary btn-sm">
          <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
          <span class="text-light"> Add new Facility</span>
        </button>
      </a>

      <form class="d-flex my-2" role="search">
        <input class="form-control me-2" type="text" placeholder="Input name" aria-label="Search"
               name="facilityName" [(ngModel)]="facilityNameSearch">
        <button (click)="searchByName()" class="btn btn-outline-success" type="submit" name="action" value="search">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </nav>

  <table class="table table-striped table-bordered" id="facilityTable">
    <thead>
    <tr class="text-center bg-warning bg-opacity-50">
      <th>Serial</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Max people</th>
      <th>Standard room</th>
      <th>Floor</th>
      <th>Type of rent</th>
      <th>Type of facility</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let facility of facilityListPaging; index as i">
      <td>{{i + 1}}</td>
      <td>{{facility.facilityName}}</td>
      <td>{{facility.facilityCost}}</td>
      <td>{{facility.maxPeople}}</td>
      <td>{{facility.standardRoom}}</td>
      <td>{{facility.numberOfFloors}}</td>
      <td>{{facility.rentType.rentTypeName}}</td>
      <td>{{facility.facilityType.facilityTypeName}}</td>
      <td class="text-center">
        <a routerLink="/facility/update/{{facility.id}}">
          <span class="text-warning"><i class="fa-solid fa-pen-to-square"></i></span>
        </a>
      </td>
      <td class="text-center">
        <a data-bs-toggle="modal" data-bs-target="#deleteFacility">
          <span class="text-danger"><i class="fa-solid fa-trash-can"></i></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <nav aria-label="..." class="justify-content-center d-flex">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previous()" *ngIf="curPage > 1">&laquo; Previous</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage <= 1">
        <a class="page-link">&laquo;</a>
      </li>
      ​
      <li class="page-item"><a class="page-link disabled" href="" [text]="curPage + ' / ' + totalPage"></a>
      </li>
      ​
      <li class="page-item">
        <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Next &raquo;</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage >= totalPage">
        <a class="page-link">&raquo;</a>
      </li>
    </ul>
  </nav>

  <!--    modal delete-->
  <div class="modal fade" id="deleteFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Are you sure to delete?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form>
          <div class="modal-body">
            <span class="h6">Facility:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
            <input type="hidden" name="id" id="idDelete"/>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" value="delete">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

